  <!--  **********  pied de page   **********  -->

      <div class="row w-100 m-0 ndNav">
        <div class="col navHover">
          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="#">À propos</a></li>
            <li class="list-inline-item">&middot;</li>
            <li class="list-inline-item"><a href="#">Vie privée</a></li>
            <li class="list-inline-item">&middot;</li>
            <li class="list-inline-item"><a href="Cond_utilisation.html">Conditions d'utilisations</a></li>
          </ul>
        </div>
      </div>
